Architecture: amd64
Depends: libqt5core5a (>= 5.9.0),
         libqt5gui5 (>= 5.9.0),
         libqt5widgets5 (>= 5.9.0)
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Spinware
Priority: optional
Section: Development
Version: 2024.08.15
Description: Spinware
 Welcome to Spinware!
 Spinware is governed by a BSD license. Enjoy!
