Architecture: amd64
Depends: libqt5core5a,
         libqt5gui5,
         libqt5widgets5
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Spinware
Priority: optional
Section: Development
Version: 2025.02.27
Description: Spinware
 Welcome to Spinware!
 Spinware is governed by a BSD license. Enjoy!
